[Desktop Entry]
Categories=Game;Application;
Comment[en_US]=Play Games that are not on steam with remote play
Comment=Play Games that are not on steam with remote play
Encoding=UTF-8
Exec=/usr/bin/RemotePlayDetached
GenericName[en_US]=
GenericName=
Icon=/home/user/.icons/remoteplaydetached.png
MimeType=
Name[en_US]=Remote Play Detached
Name=Remote Play Detached
Path=/home/user/.steam/steam/steamapps/common/Fruity Smoothie/
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=0.2.3
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
